  .calendar {
    position: absolute;
    top: 211px;
    left: 0;
    right: 0;
    background-color: var(--background-main);
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 9px;
    
  }
  :host {
  border: 2px solid #8a2b2b;
  border-top: 2px solid greenyellow;
}
  :host(.calendar-day) {
    border: 2px solid #8a2b2b !important;
  }

  ion-datetime .calendar-day {
    border: 2px solid #8a2b2b;


    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px !important;
    line-height: 9px;


    border: 2px solid #8a2b2b;
    border-radius: 3px importent !;
  }