@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600;700&family=Mukta:wght@400;600;700&family=Poppins:wght@400;600;700&family=Prompt:wght@400;600;700&family=Raleway:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300;1,400;1,600;1,700&display=swap');

:root {
  --background-main: #FAFAFA;
  --background-textarea: #F8F4E9;
  --main-text: #2F2713;
  --light-text: #ffffff;
  --textarea-placeholder: #7E7E7E;
  --secondary-button-background: #C1292E;

  --font-size-textarea: 14px;
  --font: 'Nunito', sans-serif;
}

* {
  font-family: var(--font);
}

.main-header {
  margin: 0;
  background-color: #F2DCA6;
  border-radius: 0 0 80px;
}

.header-md::after {
  content: none;
}

.main-tollbar{
  --background:inherit;
  margin: 25px 0 15px;
}
.settings-button {
  width: fit-content;
  color: var(--main-text);
  text-transform: none;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  --ion-color-primary: #A5946A
}

.main-header-title {
  font-weight: 700;
  font-size: 1.8rem;  
  color: var(--main-text);
}

.main-header-date-title {
  padding: 1rem;  
  font-size: 1.2rem;  
  color: var(--main-text);
}

ion-datetime {
  left: 0;
  right: 0;
  margin-top: 1rem;
}

.compose-button {
  margin: 10px 16px 100px;
  height: 44px;
  font-size: 1.3rem;
  text-transform: none;
  --background: var(--secondary-button-background);
  --color: var(--light-text);
}