.toolbar {
  margin: 25px 0 0;
  width: 97%;
}

ion-back-button {
  text-transform: none;
}

.title-date {
  padding: 0;
  font-size: 1rem;
  text-transform: none;
  font-weight: 600;
}

.left-right-margin-16px {
  margin: 0 16px;
}

.title-textarea {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.6rem;
  height: 2rem;
  --placeholder-color: var(--ion-color-primary);
  --color: var(--ion-color-dark);
}

.title-textarea .textarea-wrapper {
  height: 2rem;
}

.custom-textarea {
  margin-top: 1.2rem;
  resize: none;
  height: 55vh;
  font-size: 1.1rem;
  border-radius: 16px;
  --background: var(--ion-color-secondary-shade);
  --placeholder-color: var(--ion-color-medium);
  --color: var(--ion-color-dark);
  --padding-end: 10px;
  --padding-start: 10px;

}

.custom-textarea .textarea-wrapper {
  resize: none;
  height: 55vh;
}

.color-label {
  margin: 1rem 0;
  display: block;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1rem;
  font-family: var(--font);
}

.radio-group {
  bottom: 70;
}

ion-radio {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  --color-checked: var(--ion-color-light-tint);
}

ion-radio.radio-checked::part(mark) {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border-width: 0;
  border-style: solid;
}

.green-radio {
  background-color: var(--note-color-first);
  --color: var(--note-color-first);
  border: 5px solid var(--note-color-first);
}

.blue-radio {
  background-color: var(--note-color-second);
  --color: var(--note-color-second);
  border: 5px solid var(--note-color-second);
}

.purple-radio {
  background-color: var(--note-color-third);
  --color: var(--note-color-third);
  border: 5px solid var(--note-color-third);
}

.red-radio {
  background-color: var(--note-color-forth);
  --color: var(--note-color-forth);
  border: 5px solid var(--note-color-forth);
}

.yellow-radio {
  background-color: var(--note-color-fifth);
  --color: var(--note-color-fifth);
  border: 5px solid var(--note-color-fifth);
}

.brown-radio {
  background-color: var(--note-color-sixst);
  --color: var(--note-color-sixst);
  border: 5px solid var(--note-color-sixst);
}

.dode-button {  
  margin: 10px 0 100px;
  padding: 0 16px;
  height: 44px;
  width: 100vw;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: none;
  --background: var(--background-main);
  --color: var(--ion-color-danger);
  --border-color: var(--ion-color-danger);
  --border-style: solid;
  --border-width: 1.5px;  
  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25); 
}