.list-ion-header {
  height: 152px;
  padding-top: 55px;
}

.button-ion-toolbar {
  --min-height: none;
}

.date-toolbar {
  margin: 0 auto;
  width: fit-content;
  --min-height: none;
  height: 36px;
}

ion-back-button {
  text-transform: none;
}

.title-date_list-page {
  font-weight: 700;
  font-size: 1rem;
  color: var(--main-text);
}

.content {
  border-radius: 16px;
}

ion-item-group {
  position: relative;
  margin: 0 16px;
}

.note-card {
  position: relative;
  margin: 0 0 8px 0;
  height: 90px;
  left: 0;
  right: 0;
  --color: var(--light-text);
  border-radius: 16px;
}

.compose-button {
  margin: 10px 16px 100px;
  height: 44px;
  text-transform: none;
  --background: var(--secondary-button-background);
  --color: var(--light-text);
}

.note-color-green {
  background-color: #4CAF50;
}

.note-color-blue {
  background-color: #03A9F4;
}

.note-color-purple {
  background-color: #673AB7;
}

.note-color-red {
  background-color: #C1292E;
}

.note-color-yellow {
  background-color: #FF9800;
}

.note-color-brown {
  background-color: #795548;
}