.list-back-button {
  text-transform: none;
  font-weight: 600;
}

.back-button-icon {
  font-size: 1.6rem;
  margin-right: 3px;
}

.date-toolbar {
  margin: 0 auto 10px;
  width: fit-content;
  --min-height: none;
  height: 36px;
}

.title-date_list-page {
  font-weight: 700;
  font-size: 1rem;  
}

.margin-bottom-8px{
  margin-bottom: 8px;
}

ion-item-option{
  width:30%;
}

.note-color-green {
  background-color: var(--note-color-first);
}

.note-color-blue {
  background-color: var(--note-color-second);
}

.note-color-purple {
  background-color: var(--note-color-third);
}

.note-color-red {
  background-color: var(--note-color-forth);
}

.note-color-yellow {
  background-color: var(--note-color-fifth);
}

.note-color-brown {
  background-color: var(--note-color-sixst);
}