/* Light mode/Background - Light #FAFAFA 
Light mode/Main 1 - Light #C1292E 
Light mode/Main 2 - Light #F2DCA6 
Light mode/Main 2 Shade 1 - Light #F8F4E9 
Light mode/Main 2 Shade 2 - Light #A5946A 
Light mode/Text Primary - Light #2F2713 
Light mode/Text Secondary 1 - Light #A7A7A7 
Light mode/Text Secondary 2 - Light #7E7E7E 
Light mode/Text White - Light #FFFFFF */

/* 
Dark Mode/Background 1 - Dark #292929 
Dark Mode/Background 2 - Dark #1F1F1F
Dark Mode/Gray 1 - Dark #4A4A4A
Dark Mode/Gray 2 - Dark #828282 
Dark Mode/Main - 1 Dark #FF6065 
Dark Mode/Main 2 - Dark #F2DCA6 
Dark Mode/Text Primary 1 - Dark #E1E1E1 
Dark Mode/Text Primary 2 - Dark #1F1F1F 
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');


:root {
  --background-main: #FAFAFA;
  --background-textarea: #F8F4E9;
  --main-text: #2F2713;
  --light-text: #ffffff;
  --textarea-placeholder: #7E7E7E;
  --save-buton: #C1292E;

  --font-size-textarea: 14px;
  --font: 'Nunito', sans-serif;
}

.ion-page {
  margin: 0;
  padding: 0;
  background-color: var(--background-main);
}

.page {
  margin: 0 16px;
  color: var(--background-main);
  background-color: var(--background-main);
}


ion-header {
  margin: 64px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.back-button {
  position: absolute;
  left: 0;
  margin: 0;
  --padding-end: 0;
  --padding-start: 0;
  height: 29px;
  width: 60px;
  text-transform: none;
  font-family: var(--font);
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  --color: var(--main-text);
}

.back-button>.arrow-icon {
  margin: 0 4px 0 0;
  width: 16px;
  height: 16px;
  font-family: var(--font);
}

.title-date {
  text-transform: none;
  position: relative;
  text-align: center;
  margin: 4px auto 0;
  width: fit-content;
  height: 29px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--main-text);

}


@media (max-width: 300px) {
  .title-date {
    font-size: 12px;
  }
}

.save-button {
  position: absolute;
  top: -6px;
  right: 0px;
  padding: 0;
  font-size: 14px;
  font-family: var(--font);
  width: 79px;
  height: 29px;
  text-transform: none;
  font-weight: 600;
  background: var(--save-buton);
  border-radius: 100px;
  --color: var(--light-text);

}

.title-textarea {
  position: absolute;
  top: 116px;
  left: 0;
  text-decoration: none;
  font-family: var(--font);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  height: 33px;
  margin: 0;
  --placeholder-color: var(--textarea-placeholder);
  --color: var(--main-text);
}

.title-textarea>.sc-ion-textarea-md {
  height: 98%;
}

.title-textarea>.sc-ion-textarea-ios {
  height: 98%
}

.custom-textarea {
  padding: 15 0;
  margin: 0;
  font-size: var(--font-size-textarea);
  font-family: var(--font);
  position: absolute;
  top: 169px;
  bottom: 167px;
  border-radius: 16px;
  --background: var(--background-textarea);
  --color: var(--main-text);
  --padding-end: 10px;
  --padding-start: 10px;
  --placeholder-color: var(--textarea-placeholder);
}

.custom-textarea>.sc-ion-textarea-md,
.custom-textarea>.sc-ion-textarea-ios {
  height: 98%
}

.color_label {
  position: absolute;
  left: 0;
  bottom: 125px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--main-text);

}

.radio-group {
  position: absolute;
  left: 0;
  bottom: 70px;
  padding: 20px 0 20px;

}


ion-radio {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  --color-checked: #FFFFFF;

}

ion-radio.radio-checked::part(mark) {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border-width: 0;
  border-style: solid;
  border-color: transparent;

}

.green-radio {
  background-color: #4CAF50;
  --color: #4CAF50;
  border: 5px solid #4CAF50;
}

.blue-radio {
  background-color: #03A9F4;
  --color: #03A9F4;
  border: 5px solid #03A9F4;
}

.purple-radio {
  background-color: #673AB7;
  --color: #673AB7;
  border: 5px solid #673AB7;
}

.red-radio {
  background-color: #C1292E;
  --color: #C1292E;
  border: 5px solid #C1292E;
}

.yellow-radio {
  background-color: #FF9800;
  --color: #FF9800;
  border: 5px solid #FF9800;
}

.brown-radio {
  background-color: #795548;
  --color: #795548;
  border: 5px solid #795548;
}

.google-ads-area {
  z-index: 200;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70px;
  --border-radius: 0;
}