:root {
  --font: 'Nunito', sans-serif;
}

.item-select {
  text-decoration: none;
  font-family: var(--font);
}

.toolbar ion-title {
  text-align: center;
  margin: 0 85px 0 0;
}

.font-label {
  margin:0 32px;
}

.select {
  margin: 8px 0;
  width: 100%;
  background-color: var(--ion-color-tertiary-shade);
  border-radius: 32px;
  padding: .8rem 1.1rem;
  font-family: var(--font);
}

ion-select::part(text) {
  color: var(--ion-color-dark);
}

ion-select::part(icon) {

  color: var(--ion-color-dark);
  opacity: .8;
}

.action-sheet-button-inner {
  color: var(--ion-color-dark);
  font-family: var(--font);
}

.dark-theme-label {
  margin-left: 16px;
}

.dark-theme-toggle {
  margin-right: 16px;
  --handle-background-checked: #E1E1E1;
}



.nunito {
  --font: 'Nunito', sans-serif;
}


.montserrat-alternates {
  --font: 'Montserrat Alternates', sans-serif;
}

.mukta {
  --font: 'Mukta', sans-serif;
}

.poppins {
  --font: 'Poppins', sans-serif;
}

.prompt {
  --font: 'Prompt', sans-serif;
}

.raleway {
  --font: 'Raleway', sans-serif;
}

.tilt-neon {
  --font: 'Tilt Neon', cursive;
}

.gotisch {  
  --font: 'Grenze Gotisch', cursive;
}

.josefin-sans {
  --font: 'Josefin Sans', sans-serif;
}