
.settings-ion-header {
  height: 116px;
  padding-top: 55px;
}

.item-select {
  text-decoration: none;
}

.select {
  width: 100%;
  background-color: --background-textarea;
  border-radius: 32px;
  padding: 16px 12px;
}

.nunito {
  --font: 'Nunito', sans-serif;
}

.aclonica {
  --font: 'Aclonica', sans-serif;
}

.tilt-neon {
  --font: 'Tilt Neon', cursive;
}

.gotisch {
  --font: 'Grenze Gotisch', cursive;
}

.josefin-sans {
  --font: 'Josefin Sans', sans-serif;
}