.rdp {
  margin: 15px 0;
  background-color: var(--background-main);
  color: var(--ion-color-dark);
}

.rdp-caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
  margin: 1.8rem 1rem 0;
  font-size: 1.3rem;
}

.rdp-nav_button {
  background-color: var(--background-main);
  height: 36px;
  width: 36px;
  color: var(--ion-color-dark);
}

.rdp-table {
  width: 100vw;
}

.rdp-head_cell {
  height: 8vh;
  font-size: .9rem;
}

.rdp-day {
  padding: 2.2vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 1rem;
  font-size: 1rem;
  background-color: var(--background-main);
  color: var(--ion-color-dark);
  margin: 10px auto 0;
}

.rdp-day_selected {
  background-color: var(--ion-color-success);
}

.rdp-day_outside {
  color: var(--ion-color-primary);
  background-color: var(--ion-color-tertiary-shade);
  border-radius: 0;
  width: 100%;
}

.notesIcon {
  box-sizing: border-box;
  width: 11px;
}