
ion-item{
  width:100vw;
  
}

ion-card {
  position: relative;
  margin:0;
  height: 90px;
  width: 100%;
  left: 0;
  right: 0;
  --color: var(--light-text);
  border-radius: 16px;
}

ion-card-header {
  height: 20px;  
  margin: 10px 16px;
  padding: 0;
  color: var(--light-text);
}

ion-card-title{
  font-size: 1.2rem;
  color: var(--light-text);
}

ion-card-content{
  position: relative;
  margin: 0 70px 0 0;
  height: 55px;
  font-size: 1rem;
}

.icon-in-card {
  position: absolute;
  height: 16px;
  width: 16px;
  right: 20px;
  top: 37px;
}
