ion-item {
  width: 100vw;
}

ion-card {
  margin: 0;
  height: 8rem;
  width: 100%;
  left: 0;
  right: 0;
  border-radius: 16px;
  word-break: normal;
  padding: 0;
}
.ion-card-title{
  text-align: center;
  height: 1rem;  
  margin: 0;
  padding: 0;
}
ion-card-content {
  margin: auto 35px 0 0;
  height: 100%;
  font-size: 1rem;
  line-height: 1rem;
  font-family: var(--font);
  color: var(--ion-color-light);
  overflow: hidden;  
}

.icon-in-card {
  position: absolute;
  height: 16px;
  width: 16px;
  right: 20px;
  top: 3.6rem;
}